
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="common/header :: common-header" />

<body>

	<div th:replace="common/header :: navbar"></div>
	<div class="container">
		<div class="row" style="background-color: #013668; color: #ffffff; border-radius: 10px;">
			<div class="col-xs-8 col-xs-offset-2">
				<h1 style="text-align: center;">Shoe List Page</h1>
			</div>
		</div>

		<br />


		<div th:if="${shoeList.empty}">
			<h2>The shoe list is currently empty.</h2>
		</div>

		<div class="container" th:if="${!shoeList.empty}">
			<div class="table-responsive">
				<table id="shoeListTable"
					class="table table-bordered table-hover table-striped">

					<thead>
						<tr>
							<th><input th:id="selectAllShoes" type="checkbox" /></th>
							<th>Photo</th>
							<th>Name</th>
							<th>Brand</th>
							<th>Release Date</th>
							<th>Category</th>
							<th>Shipping Weight</th>
							<th>List Price</th>
							<th>Our Price</th>
							<th>Number In Stock</th>
							<th>Active?</th>
							<th>New Arrival?</th>
							<th>Edit Link</th>
							<th>Delete Link</th>
						</tr>
					</thead>
					<tbody>
						<tr data-th-each="shoe : ${shoeList}">
							<td>
							<input hidden="hidden" name="id" th:value="${shoe.id}" />
							<input th:id="'selected' + ${shoe.id}" class="checkBoxShoe" type="checkbox" />
							</td>
							<td><img style="max-width: 70px;" th:src="@{/images/shoe/}+${shoe.id}+'.png'"/></td>
							<td><a th:href="@{/shoe/shoeInfo?id=} + ${shoe.id}"><span th:text="${shoe.name}"></span></a></td>
							<td th:text="${shoe.brand}"></td>
							<td th:text="${shoe.releaseDate}"></td>
							<td th:text="${shoe.category}"></td>
							<td th:text="${shoe.shippingWeight}"></td>
							<td th:text="${shoe.listPrice}"></td>
							<td th:text="${shoe.ourPrice}"></td>
							<td th:text="${shoe.inStockNumber}"></td>
							<td th:text="${shoe.active}"></td>
							<td th:text="${shoe.newArrival}"></td>
							<td><a th:href="@{/shoe/updateShoe?id=} + ${shoe.id}"><span
									class="glyphicon glyphicon-pencil"></span></a></td>
							<td><input hidden="hidden" name="id" th:value="${shoe.id}" /><button th:id="'oneShoe-' + ${shoe.id}" 
							class="btn btn-danger btn-xs delete-shoe" type="submit" value="delete">
							<span class="fa fa-times"> Delete</span>
							</button></td>
							
						</tr>
					</tbody>

				</table>
			</div>
			<button th:id="deleteSelected" 
							class="btn btn-danger"> Delete Selected</button>
			
		</div>
	</div>
	<div th:replace="common/header :: body-bottom-scripts"></div>

	<script>
		$(document).ready(function() {
			$("#shoeListTable").dataTable({
				"lengthMenu": [ [5, 10, 15, -1], [5, 10, 15, "All"] ],
				"ordering": false,
				stateSave: true
			});
		});
	</script>
</body>
</html>
