
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="common/header :: common-header" />

<body>

	<div th:replace="common/header :: navbar"></div>
	<div class="container">
		<div class="row" style="background-color: #013668; color: #ffffff; border-radius: 10px;">
			<div class="col-xs-8 col-xs-offset-2">
				<h1 style="text-align: center;">Shoe List Page</h1>
			</div>
		</div>

		<br />


		<div th:if="${shoeList.empty}">
			<h2>The shoe list is currently empty.</h2>
		</div>

		<div class="container" th:if="${!shoeList.empty}">
			<div class="table-responsive">
				<table id="shoeListTable"
					class="table table-striped table-bordered table-hover">

					<thead>
						<tr>
							<th>Photo</th>
							<th>Name</th>
							<th>Brand</th>
							<th>Release Date</th>
							<th>Category</th>
							<th>Shipping Weight</th>
							<th>List Price</th>
							<th>Our Price</th>
							<th>Number In Stock</th>
							<th>Active?</th>
							<th>New Arrival?</th>
							<th>Edit Link</th>
							<th>Delete Link</th>
						</tr>
					</thead>
					<tbody>
						<tr data-th-each="shoe : ${shoeList}">
							<td><img style="max-width: 70px;" th:src="@{/images/shoe/}+${shoe.id}+'.png'"/></td>
							<td><a th:href="@{/shoe/shoeInfo?id=} + ${shoe.id}"><span th:text="${shoe.name}"></span></a></td>
							<td th:text="${shoe.brand}"></td>
							<td th:text="${shoe.releaseDate}"></td>
							<td th:text="${shoe.category}"></td>
							<td th:text="${shoe.shippingWeight}"></td>
							<td th:text="${shoe.listPrice}"></td>
							<td th:text="${shoe.ourPrice}"></td>
							<td th:text="${shoe.inStockNumber}"></td>
							<td th:text="${shoe.active}"></td>
							<td th:text="${shoe.newArrival}"></td>
							<td><a th:href="@{/shoe/updateShoe?id=} + ${shoe.id}"><span
									class="glyphicon glyphicon-pencil"></span></a></td>
							<td><a th:href="@{/shoe/delete}"><span
									class="glyphicon glyphicon-remove"></span></a>
							<td style="display: none;"></td>

						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</div>
	<div th:replace="common/header :: body-bottom-scripts"></div>

</body>
</html>
